<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="../../css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="wrapper">


    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <!-- <a class="navbar-brand" href="index.html">Binary admin</a>-->
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li  >
                    <a  class="active-menu"  href="#"><i class="fa fa-table fa-3x"></i>出租房屋</a>
                </li>
                <li  >
                    <a  href="/masterAppointment"><i class="fa fa-edit fa-3x"></i>预约消息</a>
                </li>
                
                <li>
                    <a  href="/masterMeetingInfo"><i class="fa fa-desktop fa-3x"></i>会面消息</a>
                </li>
       <!--          <li>
                    <a  href="rent.html"><i class="fa fa-qrcode fa-3x"></i>出租成功</a>
                </li>
                <li>
                    <a  href="money.html">我的余额</a>
                </li> -->
                           <li>
                <button  th:text=" '用户名'+${master.mastrname}">  </button>
             
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2>出租房屋</h2>

                </div>
            </div>
            <!-- /. ROW  -->
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            填写房屋出租信息
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <form  role="form" th:action="@{/masterToRent}" 
                                th:object="${house}" th:method="post" method="post">

                                        <div class="form-group">
                                            <input th:field="*{househostname}" class="form-control" placeholder="输入您的姓名" />
                                        </div>
                                     <div class="form-group">
                                        <input th:field="*{houseadd}"  class="form-control" placeholder="填写你的房屋地址" />
                                    </div><div class="form-group">
                                        <input th:field="*{housetype}"  class="form-control" placeholder="填写您的房屋类型（单人/双人）" />
                                    </div><div class="form-group">
                                        <input th:field="*{houseprice}"  class="form-control" placeholder="填写您的房租" />
                                    </div><div class="form-group">
                                        <input th:field="*{houseinfo}" class="form-control" placeholder="其他备注" />
                                    </div><div class="form-group">
                                        <button type="submit" class="btn btn-default">提交信息</button>
                                        <button type="reset" class="btn btn-primary">重置信息</button>

                                    </form> 
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../../js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../../js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../../js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../../js/custom.js"></script>

</body>
</html>
